.container
  .promoteButtonBox#item
  .bigImgBox
    = image_tag 'HI-img.jpg', height: '445', width: '593'

:javascript
  var params = { auth_mode: 'in', source: '#{@params[:source]}',
  title: '#{@params[:title]}',
  location: '#{@params[:location]}',
  lat: '#{@params[:lat]}',
  lng: '#{@params[:lng]}',
  desc: '#{@params[:desc]}',
  img: '#{@params[:img]}',
  token: '99124566b0a9ef8ab914567d98824919',
  email: '#{@params[:email]}',
   fname: 'Jason',
   lname: 'Pampell',
   }
  var p1 = new AdvoWireAffiliate('item', params);

  $(function(){
  	$('input[type=text], textarea').on('blur', function(){
  		var field = $(this).attr('name');
  		params[field] = $(this).val();
  		console.log($(this).attr('name') + ' -- '+$(this).val());
  		$('#item').html('');
  		p1 = new AdvoWireAffiliate('item', params);
  	});
  });